body {
  margin: 0;
  height: 100vh;
}

header {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 32px;
  color: sienna;
  font-weight: bolder;
  width: 100%;
}
@media (max-width: 980px) {
  header {
    display: none;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  overflow: hidden;
}
@media (max-width: 980px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 100vh;
  }
}
main .unConnectCamera {
  display: block;
  border: 1px slateblue solid;
  margin: 0px 30px 0 30px;
  overflow: hidden;
  width: 50%;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}
@media (max-width: 980px) {
  main .unConnectCamera {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 980px) {
  main .unConnectCamera.doctorVideo {
    height: 50%;
  }
}
main .unConnectCamera .doctorVideoContent {
  height: 100%;
  background-color: rgb(207, 136, 104);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  Flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: xx-large;
}
main .camera {
  display: none;
  width: 50%;
  border-radius: 5px;
  margin: 0px 30px 0 30px;
  overflow: hidden;
  height: 100%;
}
@media (max-width: 980px) {
  main .camera {
    width: 100%;
    margin: 0;
    height: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (max-width: 600px) {
  main .camera {
    width: auto;
    margin: 0;
    height: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
main .camera .videoMaxZone {
  width: 100%;
  min-height: 50%;
}
@media (max-width: 600px) {
  main .camera .videoMaxZone {
    width: auto;
    margin: 0;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
main .camera .videoMaxZone video {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 600px) {
  main .camera .videoMaxZone video {
    width: auto;
    height: 100%;
    border-radius: 0;
  }
}

footer {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
@media (max-width: 980px) {
  footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -3%);
            transform: translate(-50%, -3%);
  }
}
footer .button {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 10px;
}
@media (max-width: 980px) {
  footer .button {
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}
footer .button span {
  display: block;
  width: 100px;
  height: 100px;
  color: gray;
  text-align: center;
  border-radius: 100%;
  background-color: whitesmoke;
  border: 2px solid grey;
  font-size: 32px;
  line-height: 100px;
}
@media (max-width: 980px) {
  footer .button span {
    width: 80px;
    height: 80px;
    line-height: 75px;
  }
}
footer .button span:hover {
  background-color: gray;
  color: white;
}
@media (max-width: 980px) {
  footer .button span.hangUpPhone {
    display: none;
  }
}
footer .button span.loudSpeakClass.iconOpen {
  color: #45b6c7;
}