body {
  margin: 0;
  overflow: hidden;
}

.container-fluid-fix {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
}

header {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  width: 100%;
  letter-spacing: 2px;
}
@media (max-width: 1000px) {
  header {
    display: none;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 450px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 100%;
    margin: 0;
    padding: 0px;
  }
}
@media (min-width: 451px) and (max-width: 1000px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0px;
  }
}
main .camera {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
@media (min-width: 451px) and (max-width: 1000px) {
  main .camera {
    width: 100%;
    border-radius: 0px;
  }
}
@media (max-width: 450px) {
  main .camera {
    width: 100%;
    max-height: 50%;
    border-radius: 0px;
  }
}
main .camera.ConnectCamera {
  display: none;
  background-color: #343a40;
  margin: 0 10px;
}
main .camera.ConnectCamera.patientCamera {
  margin-right: 10px;
}
@media (max-width: 450px) {
  main .camera.ConnectCamera.patientCamera {
    margin: 0;
  }
}
main .camera.ConnectCamera.doctorCamera {
  margin-left: 10px;
}
@media (max-width: 450px) {
  main .camera.ConnectCamera.doctorCamera {
    margin: 0;
  }
}
main .camera.ConnectCamera video {
  height: 100%;
  width: 100%;
}
@media (max-width: 450px) {
  main .camera.ConnectCamera video {
    height: 100%;
    width: auto;
  }
}
main .camera.unConnectCamera {
  border: 1px saddlebrown solid;
  margin: 0 10px;
}
main .camera.unConnectCamera.patientVideo {
  font-size: 2rem;
  color: #343a40;
}
@media (min-width: 451px) and (max-width: 1000px) {
  main .camera.unConnectCamera {
    width: 100%;
    height: 100%;
  }
}
main .camera.unConnectCamera .doctorVideoContent {
  font-size: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 100%;
}

footer {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
@media (min-width: 451px) and (max-width: 1000px) {
  footer {
    position: absolute;
    bottom: 0%;
    margin-top: 0px;
    margin-bottom: 5px;
    height: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}
@media (max-width: 450px) {
  footer {
    position: absolute;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    margin-top: 0px;
    margin-bottom: 5px;
    height: auto;
  }
}
footer .button {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 451px) and (max-width: 1000px) {
  footer .button {
    width: 50%;
    max-width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}
@media (max-width: 450px) {
  footer .button {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
footer .button span {
  display: block;
  width: 100px;
  height: auto;
  color: gray;
  text-align: center;
  border-radius: 100%;
  background-color: whitesmoke;
  border: 2px solid grey;
  font-size: 2.5rem;
  line-height: 100px;
}
footer .button span:hover {
  color: gray;
  background-color: whitesmoke;
}
@media (min-width: 451px) and (max-width: 1000px) {
  footer .button span {
    width: 70px;
    height: auto;
    line-height: 70px;
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  footer .button span {
    width: 70px;
    height: auto;
    line-height: 70px;
    font-size: 2rem;
  }
}

.calling-finished {
  display: none;
  text-align: center;
  margin: 200px 0;
  letter-spacing: 1px;
  font-weight: bolder;
}
@media (max-width: 450px) {
  .calling-finished {
    margin: 50px 0;
    letter-spacing: 0px;
  }
}