body {
    margin: 0;
    overflow: hidden;
}

.container-fluid-fix {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
}

header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    width: 100%;
    letter-spacing: 2px;

    @media (max-width:1000px) {
        // 小於1000就換版
        display: none;
    }
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    overflow: hidden;
    width: 100%;
    @media (max-width:450px) {
        flex-direction: column-reverse;
        height: 100%;
        margin: 0;
        padding: 0px;
    }

    @media (min-width: 451px) and (max-width: 1000px) {
        flex-direction: row;
        height: 100%;
        margin: 0;
        padding: 0px;
    }

    .camera {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        @media (min-width: 451px) and (max-width: 1000px) {
            width: 100%;
            border-radius:0px;
        }

        @media (max-width:450px) {
            width: 100%;
            max-height: 50%;
            border-radius:0px;
        }

        &.ConnectCamera {
            display: none;
            background-color: #343a40;
            margin: 0 10px;
            &.patientCamera {
                margin-right: 10px;

                @media (max-width:450px) {
                    margin: 0;
                }
            }

            &.doctorCamera {
                margin-left: 10px;

                @media (max-width:450px) {
                    margin: 0;
                }
            }

            video {
                height: 100%;
                width: 100%;
                @media (max-width:450px) {
                    height: 100%;
                    width: auto;

                }
            }
        }

        &.unConnectCamera {
            border: 1px saddlebrown solid;
            margin: 0 10px;

            &.patientVideo{
                font-size: 2rem;
                color: #343a40;
            }
            @media (min-width: 451px) and (max-width: 1000px) {
                width: 100%;
                height: 100%;
            }
            @media (max-width:450px) {
            }
            .doctorVideoContent {
                font-size: 2rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                width: 100%;
                // .dotting{
                //     display: inline-block; min-width: 2px; min-height: 2px;
                //     box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor; /* for IE9+, ..., 3個點 */
                //     animation: dot 4s infinite step-start both; /* for IE10+, ... */
                //     *zoom: expression(this.innerHTML = '...'); /*  for IE7. 若無需相容IE7, 此行刪除 */
                // }
            }
        }
    }

}

footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    @media (min-width: 451px) and (max-width: 1000px) {
        position: absolute;
        bottom: 0%;
        margin-top: 0px;
        margin-bottom: 5px;
        height: auto;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    @media (max-width:450px) {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: 0px;
        margin-bottom: 5px;
        height: auto;
    }

    .button {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 10px;
        align-items: center;

        @media (min-width: 451px) and (max-width: 1000px) {
            width: 50%;
            max-width: 100%;
            align-items: flex-end;
            justify-content: space-between;
            padding: 0;
        }

        @media (max-width:450px) {
            width: 100%;
            justify-content: space-between;
        }

        span {
            display: block;
            width: 100px;
            height: auto;
            color: gray;
            text-align: center;
            border-radius: 100%;
            background-color: whitesmoke;
            border: 2px solid grey;
            font-size: 2.5rem;
            line-height: 100px;
            &:hover{
                color: gray;
                background-color: whitesmoke;
            }

            @media (min-width: 451px) and (max-width: 1000px) {
                width: 70px;
                height: auto;
                line-height: 70px;
                font-size: 2rem;
            }

            @media (max-width:450px) {
                width: 70px;
                height: auto;
                line-height: 70px;
                font-size: 2rem;

            }
        }
    }

}

.calling-finished {
    display: none;
    text-align: center;
    margin: 200px 0;
    letter-spacing: 1px;
    font-weight: bolder;

    @media (max-width:450px) {
        margin: 50px 0;
        letter-spacing: 0px;
    }
}