
body {
    // height: 100%;
    margin: 0;
    // For Edge
    // height: 100%;
    // // WebKit-based browsers will ignore this
    // height: -moz-available;
    // // Mozilla-based browsers will ignore this.
    // height: -webkit-fill-available;
    // // For WebKit-based browsers, Edge not support this
    // height: fill-available;
    // height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    // height:-webkit-fill-available;
    overflow: hidden;
}
.container-fluid-fix{
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
}
header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    color: sienna;
    font-weight: bolder;
    width: 100%;

    @media (max-width:1000px) {
        // 小於1000就換版
        display: none;
    }
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    overflow: hidden;
    width: 100%;
    @media (max-width:450px) {
        flex-direction: column-reverse;
        height: 100%;
        margin: 0;
    }
    @media (min-width: 451px) and (max-width: 1000px){
        flex-direction: row;
        height: 100%;
        margin: 0;
    }
    .camera{
        width: 50%;
        height: 100%;
        @media (min-width: 451px) and (max-width: 1000px){
            width: 100%;
            height: 100%;
        }
        @media (max-width:450px) {
            width: 100%;
            height: auto;
            // width: 130%;3
            // 這邊
        }

        &.ConnectCamera{
            display: none;
            video{
                width: 100%;
                height: 100%;
            }
        }
        &.unConnectCamera{
            height: 90%;
            border: 2px saddlebrown solid;
            margin: 0 10px;
            @media (min-width: 451px) and (max-width: 1000px) {
                width: 100%;
                height: 100% ;
                margin: 0  ;
            }
            .doctorVideoContent{
                font-size: x-large;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }
        // .videoMaxZone{
        //     padding:  0 10px;
        //     @media (max-width:450px) {
        //         width:100%;
        //         height: 100%;
        //         padding: 0;
        //         // width: 130%;3
        //         // 這邊
        //     }
        //     video{
        //         width: 100%;
        //         height: 100%;
                
        //         // @media (min-width: 451px) and (max-width: 1000px) {
        //         //     width: 100%;
        //         //     height: 100%;
        //         // }
        //         // @media (max-width:450px) {
        //         //     width:auto;
        //         //     height: 100%;
        //         //     // width: 130%;3
        //         //     // 這邊
        //         // }
        //     }
        // }

    }

    // .unConnectCamera {
    //     display: block;
    //     border: 1px slateblue solid;
    //     margin: 0px 30px 0 30px;
    //     overflow: hidden;
    //     // width: 50%;
    //     border-radius: 5px;
    //     box-sizing: border-box;
    //     // height: 100%;
    //     @media (min-width: 451px) and (max-width: 1000px)  {
    //         // 450~1000
    //         // height: 100%;
    //         margin: 0 10px;
    //     }
    //     @media (max-width:450px) {
    //         flex-direction: column-reverse;
    //         // height: 100vh;
    //         margin: 0;
    //         // width: 100%;
    //         // height: 50%;
    //         border: none;
    //     }

    //     // &.doctorVideo {

    //     //     // height: 60%;
    //     //     @media (max-width:800px) {
    //     //         height: 50%;
    //     //     }
    //     // }

    //     .doctorVideoContent {
    //         // height: 100%;
    //         background-color: rgb(207, 136, 104);
    //         color: white;
    //         display: flex;
    //         justify-content: center;
    //         Flex-direction: column;
    //         align-items: center;
    //         font-size: xx-large;

    //         // @media (max-width:600px) {
    //         //     height: 50%;
    //         // }
    //     }
    // }

    // .ConnectCamera {
    //     // height: 60%;
    //     display: none;
    //     // width: 50%;
    //     border-radius: 5px;
    //     // border: 2px solid black;
    //     margin: 0px 30px 0 30px;
    //     overflow: hidden;
    //     // height: 100%;
    //     // @media (max-width:1000px) {
    //     //     margin: 0 20px;
    //     // }
    //     // @media (max-width:600px) {
    //     //     width: 100%;
    //     //     margin: 0;
    //     //     height: 50%;
    //     //     box-sizing: border-box
    //     // }

    //     // @media (max-width:800px) {
    //     //     width: auto;
    //     //     margin: 0;
    //     //     height: 50%;
    //     //     box-sizing: border-box
    //     // }
    //     @media (min-width: 451px) and (max-width: 1000px)  {
    //         // 450~1000
    //         // height: 100%;
    //         margin: 0 10px;
    //     }
    //     @media (max-width:450px) {
    //         flex-direction: column-reverse;
    //         // height: 100vh;
    //         margin: 0;
    //         // width: 100%;
    //         // height: 50%;
    //         border: none;
    //     }

    //     .videoMaxZone {
    //         width: auto;
    //         // height: 100%;
    //         box-sizing: border-box;
    //         // color: black;
    //         // width: 100%;
    //         // min-height: 50%;

    //         @media (max-width:800px) {
    //             width: auto;
    //             margin: 0;
    //             // height: 100%;
    //             box-sizing: border-box
    //         }

    //         video {
    //             // width: 100%;
    //             // height: 100%;
    //             // width: 100%;
    //             border-radius: 10px;
    //             // @media (max-width:1000px) {
    //             //     height: 100%;
    //             //     width: auto;

    //             // }
    //             @media (max-width:450px) {
    //                 // width: 100%;
    //                 // height: auto;
    //                 // min-height: 100%;
    //                 // min-width: 100%;
    //                 border-radius: 0;
    //             }
    //         }
    //     }

    // }
}

footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    // @media (max-width:1000px) {
    //     margin-top: 10px;
    //     // position: absolute;
    //     // bottom: 0;
    //     // left: 50%;
    //     // transform: translate(-50%, -3%);
    // }
    @media (min-width: 451px) and (max-width: 1000px) {
        position: absolute;
        bottom: 2%;
        margin: 0  ;
        height: auto;
    }
    @media (max-width:450px) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .button {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 10px;

        @media (max-width:800px) {
            width: 100%;
            align-items: flex-end;
            justify-content: space-between;
            padding: 0;
        }

        span {
            // margin:  0 50px;
            display: block;
            width: 100px;
            height: 100px;
            color: gray;
            text-align: center;
            border-radius: 100%;
            background-color: whitesmoke;
            border: 2px solid grey;
            font-size: 32px;
            line-height: 100px;

            @media (min-width: 451px) and (max-width: 1000px) {
                width: 70px;
                height: 70px;
                line-height: 70px;
                font-size: 28px;
                // margin:  0 30px;
            }
            @media (max-width:450px) {
                width: 70px;
                height: 70px;
                line-height: 70px;
                font-size: 28px;
            }

            &:hover {
                background-color: gray;
                color: white;
            }

            &.hangUpPhone {
                @media (max-width:800px) {
                    display: none;
                }
            }

            &.loudSpeakClass {
                &.iconOpen {
                    color: #45b6c7;

                }

                // &:hover {
                //     background-color: whitesmoke;
                //     color: #45b6c7;
                // }
            }
        }
    }

}