body {
    // height: 100%;
    margin: 0;
}

header {
    // height: 10vh;
    // display: flex;
    // align-items: flex-end;
    // justify-content: center;
    font-size: 32px;
    color: sienna;
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 75%);

    @media (max-width:980px) {
        display: none;
    }
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;

    @media (max-width:980px) {
        flex-direction: column-reverse;
        height: 100vh;
    }

    .unConnectCamera {
        display: block;
        border: 1px slateblue solid;
        margin: 30px 30px 0 30px;
        overflow: hidden;
        width: 50%;
        border-radius: 5px;
        box-sizing: border-box;
        height: 60%;

        @media (max-width:980px) {
            flex-direction: column-reverse;
            // height: 100vh;
            margin: 0;
            width: 100%;
            height: 50%;
        }
        &.doctorVideo{
            height: 60%;
            @media (max-width:980px) {
                height: 50%;
            }
        }
        .doctorVideoContent {
            height: 100%;
            background-color: rgb(207, 136, 104);
            color: white;
            display: flex;
            justify-content: center;
            Flex-direction: column;
            align-items: center;
            font-size: xx-large;

            // @media (max-width:980px) {
            //     height: 50%;
            // }
        }
    }

    .camera {
        // height: 60%;
        display: none;
        width: 50%;
        border-radius: 5px;
        // border: 2px solid black;
        margin: 30px 30px 0 30px;
        overflow: hidden;

        @media (max-width:980px) {
            width: 100%;
            margin: 0;
            height: 50%;
            box-sizing: border-box
        }

        @media (max-width:600px) {
            width: auto;
            margin: 0;
            height: 50%;
            box-sizing: border-box
        }

        .videoMaxZone {
            // height: 100%;
            width: 100%;
            min-height: 50%;

            @media (max-width:600px) {
                width: auto;
                margin: 0;
                height: 100%;
                box-sizing: border-box
            }

            video {
                // width: 100%;
                height: 100%;
                width: 100%;
                border-radius: 10px;

                @media (max-width:600px) {
                    width: auto;
                    height: 100%;
                    border-radius: 0;
                }
            }
        }

    }
}

footer {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;

    @media (max-width:980px) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -3%);
    }

    .button {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 10px;

        @media (max-width:980px) {
            width: 100%;
            align-items: flex-end;
            justify-content: space-between;
            padding: 0;
        }

        span {
            // margin:  0 50px;
            display: block;
            width: 100px;
            height: 100px;
            color: gray;
            text-align: center;
            border-radius: 100%;
            background-color: whitesmoke;
            border: 2px solid grey;
            font-size: 32px;
            line-height: 100px;

            @media (max-width:980px) {
                width: 80px;
                height: 80px;
                line-height: 75px;
                // margin:  0 30px;
            }

            &:hover {
                background-color: gray;
                color: white;
            }

            &.hangUpPhone {
                @media (max-width:980px) {
                    display: none;
                }
            }
            &.loudSpeakClass{
                &.iconOpen{
                    color: #45b6c7;

                }
                // &:hover {
                //     background-color: whitesmoke;
                //     color: #45b6c7;
                // }
            }
        }
    }

}